<h1>Sign Up Below:</h1>


<form action="/registrations" method="POST">
<label for="email">Email:</label>
<input type="text" name="email"id="email"/>
<label for="password">Password:</label>
<input type="password" name="password"id="password"/>
<label for="name">Name::</label>
<input type="password" name="name"id="name"/>
<input type="submit" value="Sign Up" id="submit"/>
</form>